@model IEnumerable<DeerTier.Web.Models.ScoreDeletionRecordModel>

@{
    Layout = null;
}

<html>
    <head>
        <title>Score Deletion Log</title>

        <!-- DataTables CSS -->
        <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.2/css/jquery.dataTables.css">
  
        <!-- jQuery -->
        <script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  
        <!-- DataTables -->
        <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.js"></script>

        <script src="@Url.Content("~/Scripts/main.js")" type="text/javascript"></script> 
    </head>

    <body>
        <h2>Score Deletion Log</h2>

        <table id="scoreDeletionLog">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Moderator</th>
                    <th>DeletionDate</th>
                    <th>IP</th>
                    <th>CategoryId</th>
                    <th>Player</th>
                    <th>RealTimeString</th>
                    <th>RealTimeSeconds</th>
                    <th>GameTimeString</th>
                    <th>GameTimeSeconds</th>
                    <th>Comment</th>
                    <th>VideoURL</th>
                    <th>CeresTime</th>
                    <th>DateSubmitted</th>
                </tr>
            </thead>
            <tbody>
                @{foreach (var record in Model)
                    {
                        <tr>
                          <td>@record.ID</td>
                          <td>@record.Moderator</td>
                          <td>@record.DeletionDate</td>
                          <td>@record.IPAddress</td>
                          <td>@record.CategoryId</td>
                          <td>@record.Player</td>
                          <td>@record.RealTimeString</td>
                          <td>@record.RealTimeSeconds</td>
                          <td>@record.GameTimeString</td>
                          <td>@record.GameTimeSeconds</td>
                          <td>@record.Comment</td>
                          <td>@record.VideoURL</td>
                          <td>@record.CeresTime</td>
                          <td>@record.DateSubmitted</td>
                        </tr>
                    }
                 }
            </tbody>
        </table>
    </body>
</html>
