@model DeerTier.Web.Models.LeaderboardPageViewModel

@{
    ViewBag.Title = Model.Category.FullName;
}

@if(Model.IsModerator)
{
    <script src="@Url.Content("~/Scripts/moderator.js?v=1")" type="text/javascript"></script>
}

<div class="tableTitleBar">
    <div class="tableTitleContainer">
        <h1>@Model.Heading</h1>
        <h2>@Model.SectionHeading</h2>
    </div>

    <div class="submitButtonContainer">
        @if (!string.IsNullOrEmpty(Model.Category.WikiUrl))
        {
            <a class="wikiLink" href="@Model.Category.WikiUrl" target="_blank">Category Wiki<i class="fa fa-external-link" aria-hidden="true"></i></a>
        }
        <a class="genericButton" href="/Leaderboard/@Model.Category.UrlName/Submit">Submit Time</a>
    </div>
</div>

<div class="tableFilters">
    <input id="hideRecordsWithoutVideo" type="checkbox" @Html.Raw(Model.HideRecordsWithoutVideo ? "checked=\"checked\"" : "")/>
    <label for="hideRecordsWithoutVideo">Hide records without video</label>
</div>

@if (Model.SiblingCategories != null)
{
    <div class="siblingCategories">
        <ol>
            @foreach (var category in Model.SiblingCategories)
            {
                var classAttribute = category == Model.Category ? " class=\"selected\"" : "";
                <li><a href="@category.LinkUrl"@Html.Raw(classAttribute)>@category.Name</a></li>
            }
        </ol>
    </div>
}

<div class="scoreTable">
    <table class="defaultTable">
        <thead>
            <tr>
                <th class="rankColumn sorting_asc">
                    Rank
                </th>
                <th class="playerColumn">
                    Player
                </th>
                @if (Model.Category.GameTime)
                {
                    <th class="gameTimeColumn">
                        Game Time
                    </th>
                }
                @if (Model.Category.RealTime)
                {
                    <th class="realTimeColumn">
                        Real Time
                    </th>
                }
                @if (Model.Category.EscapeGameTime)
                {
                    <th class="escapeGameTimeColumn">
                        Time
                    </th>
                }
                <th class="proofColumn nosort">
                    Video
                </th>
                <th class="commentColumn nosort">
                    Comment
                </th>
                <th class="dateSubmittedColumn">
                    Date
                </th>
                @if (Model.IsModerator)
                {
                    <th class="moderatorDeleteColumn nosort">
                        Delete
                    </th>
                }
            </tr>
        </thead>

        <tbody>
            @foreach (var record in Model.Records)
            {
                var rankClass = record.RankClass != null ? $" class=\"{record.RankClass}\"" : "";
                <tr@(Html.Raw(rankClass))>
                    <td>
                        @record.Rank
                    </td>
                    <td class="playerName">
                        @record.Player
                    </td>
                    @if (Model.Category.GameTime)
                    {
                        <td data-order="@record.GameTimeSeconds">
                            @record.FormattedGameTime
                        </td>
                    }
                    @if (Model.Category.RealTime)
                    {
                        <td data-order="@record.RealTimeSeconds">
                            @record.FormattedRealTime
                        </td>
                    }
                    @if (Model.Category.EscapeGameTime)
                    {
                        <td data-order="@record.CeresTime">
                            @record.FormattedEscapeGameTime
                        </td>
                    }
                    <td class="videoLink">
                        @Html.Raw(record.VideoURLAsLink)
                    </td>
                    <td class="comment">
                        @Html.Raw(record.HtmlComment)
                    </td>
                    <td data-order="@record.DateSubmittedSortOrder">
                        @record.DateSubmittedAsString
                    </td>
                    @if (Model.IsModerator)
                    {
                        <td class="delete">
                            <a href="javascript:void(0)" data-id="@record.Id">&#10005;</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>